body {
  width: 100vw;
  height: 100vh;
  background: rgb(63, 225, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 225, 251, 1) 0%,
    rgba(252, 146, 70, 1) 100%
  );
  overflow: hidden;
}

#blocker {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
